data/*
data/all_data/gtFine/test/berlin/berlin_000042_000019_gtFine_labelIds.png
modules/*
__pycache__/cityscapes.cpython-36.pyc
__pycache__/evaluation.cpython-36.pyc
__pycache__/logger.cpython-36.pyc
__pycache__/optimizer_loss.cpython-36.pyc
__pycache__/transform.cpython-36.pyc
checkpoints/dust3r_encoder_released.pth
checkpoints/STDCNet813M_73.91.tar
checkpoints/STDCNet1446_76.47.tar
checkpoints/train_STDC2-Seg_armB/BiSeNet-2026-07-22-23-08-31.log
checkpoints/train_STDC2-Seg_armB/BiSeNet-2026-07-22-23-08-59.log
checkpoints/train_STDC2-Seg_armB/BiSeNet-2026-07-22-23-09-07.log
checkpoints/train_STDC2-Seg_armB/BiSeNet-2026-07-22-23-09-44.log
checkpoints/train_STDC2-Seg_armB/BiSeNet-2026-07-22-23-11-28.log
checkpoints/train_STDC2-Seg_armB/BiSeNet-2026-07-22-23-11-46.log
checkpoints/train_STDC2-Seg_armB/BiSeNet-2026-07-22-23-14-07.log
data/gtFine
data/leftImg8bit
loss/__pycache__/detail_loss.cpython-36.pyc
loss/__pycache__/loss.cpython-36.pyc
loss/__pycache__/util.cpython-36.pyc
models/__pycache__/__init__.cpython-36.pyc
models/__pycache__/model_stages.cpython-36.pyc
models/__pycache__/model_stages.cpython-38.pyc
models/__pycache__/sbg.cpython-36.pyc
nets/__pycache__/__init__.cpython-36.pyc
nets/__pycache__/__init__.cpython-38.pyc
nets/__pycache__/stdcnet.cpython-36.pyc
nets/__pycache__/stdcnet.cpython-38.pyc
data/gtFine
data/leftImg8bit
data/gtFine
data/leftImg8bit
checkpoints/*
